<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="dataService" type="TraktStreamer.DAO.DataService.DataService, TraktStreamer.DAO.DataService" />
      
      <!-- REPOSITORY START -->
      
      <object name="baseRepository" type="TraktStreamer.Repository.BaseRepository, TraktStreamer.Repository" abstract="true">
        <property name="DataService" ref="dataService" />
      </object>
      <object name="authorizationInfoRepository" type="TraktStreamer.Repository.AuthorizationInfoRepository, TraktStreamer.Repository" parent="baseRepository" />
      
      <!-- REPOSITORY END -->
      
      <!-- SERVICE START -->
      
      <object name="traktService" type="TraktStreamer.Service.TraktService, TraktStreamer.Service">
        <property name="AuthorizationInfoRepository" ref="authorizationInfoRepository" />
        
        <property name="CLIENT_ID" value="1b7b3c21bf6079bd427eeede60f56d2ad65a467eebce117c0646a2bfa149eb7c" />
        <property name="CLIENT_SECRET" value="15ca85809b45b81d5d1c35f8af58aa2e9a37d44b922bf77e9ef5a4670eefad56" />
      </object>

      <!-- SERVICE END -->

      <object id="executionDetailsLoggerAdvisor" type="Spring.Aop.Support.DefaultPointcutAdvisor, Spring.Aop">
        <property name="advice">
          <object id="executionDetailsLoggerInterceptor" type="TraktStreamer.AOP.ServiceExecutionInterceptor, TraktStreamer.AOP" />
        </property>
      </object>

      <object id="servicesProxies" type="Spring.Aop.Framework.AutoProxy.ObjectNameAutoProxyCreator, Spring.Aop">
        <property name="ObjectNames">
          <list>
            <value>authorizationInfoRepository</value>
          </list>
        </property>
        <property name="interceptorNames">
          <list>
            <value>executionDetailsLoggerAdvisor</value>
          </list>
        </property>
      </object>
  
    </objects>
  </spring>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>